# General
.DS_Store
*.log
.venv/
venv/
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# Voicevox Changer Models
apps/voicevox-changer/model/*.pth
apps/voicevox-changer/model/*.index
apps/voicevox-changer/model/*.zip

# Editor directories
.idea/
.vscode/
*.swp
